.reservation-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .reservation-item input[type="text"],
  .reservation-item input[type="number"],
  .reservation-item input[type="date"],
  .reservation-item input[type="time"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 18px); /* Adjust width to account for padding and border */
  }
  
  .reservation-item button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .reservation-item button:hover {
    background-color: #0056b3;
  }
  
  .reservation-item .cancel-button {
    background-color: #dc3545;
  }
  
  .reservation-item .cancel-button:hover {
    background-color: #c82333;
  }
  