.signup-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  
  padding: 20px;
  text-align: center;
}

.signup-form {
  width: 500px;
  padding: 40px;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background: white;
  text-align: center;
}

.signup-container h1 {
  margin-bottom: 20px;
}

.signup-container h4 {
  text-align: left;
  margin-bottom: 5px; /* Reduced gap between h4 and input */
}

.signup-container input {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #cecf9b;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.signup-container button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #333;
}

.signup-container p {
  margin-top: 20px;
}

.signup-container a {
  color: #FEC00F;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}
